<html>
  <head>
    <title>Translation</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets\taggingStylesheet.css">
    <script type="text/javascript" src="scripts\translating.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets\style.css">
  </head>
  <body>

    <!-- Main_panel -->
    <div id='main_panel'>

      <div style='margin: auto; width: 600px;'> <!-- Where the image tagging takes place -->
        <div id='image_panel'>
          <div id='imageDiv'><img src='' id='imageMap'  /></div> <!-- Image is placed here -->
          <div id='mapper' ><img src='images\save.png' onclick='openDialog()' /></div> <!-- Resizable box for tags -->

          <!-- This is where the tags are saved -->
          <div id="planetmap">
          </div>

          <div id='form_panel'> <!-- Prompt that pops up so user can place a word for the tag -->
            <div class='row'>
              <div class='label'>Title</div><div class='field'><input type='text' id='title' /></div>
            </div>
            <div class='row'>
              <div class='label'></div>
              <div class='field'>
                <input type='button' id='addTag' value='Add Tag' onclick='addTag()' />
              </div>
            </div>
          </div> <!-- end of prompt -->

        </div> <!-- end of image_panel -->

        <div id='translation_box'></div> <!-- box where translated entries fill up in -->

      </div> <!-- End of margin -->

      <!-- First bar of options -->
      <div style="background: none repeat scroll 0 0 #AB3939;
                 border: 1px solid #FFFFFF;
                 clear: both;
                 margin: 20px auto;
                 padding: 20px 0;
                 text-align: center;
                 width: 600px;">
                <input type="button" value="Show Tags" onclick="showTags()" />
                <input type="button" value="Hide Tags" onclick="hideTags()" />
                <input type="button" value="Edit Tags" onclick="location.href='http://localhost:3000/imageTagging';" />
                <!-- NOTICE: Might want to change location for onclick to use id of image as address. -->
      </div> <!-- end of first option bar -->

      <!-- Second bar of option -->
      <div style="background: none repeat scroll 0 0 #AB3939;
               border: 1px solid #FFFFFF;
               clear: both;
               margin: 20px auto;
               padding: 20px 0;
               text-align: center;
               width: 600px;">

              <div class="dropdown">
                <!-- dropdown menu of languages to translate to -->
                <label style="font-weight: bold; color: #D69A33">To:</label>
                <select id='to'>
                  <option value='ara'>Arabic</option>
                  <option value='asm'>Assamese</option>
                  <option value='eus'>Basque</option>
                  <option value='ben'>Bengali</option>
                  <option value='brx'>Bodo (India)</option>
                  <option value='bul'>Bulgarian</option>
                  <option value='cat'>Catalan</option>
                  <option value='hrv'>Croatian</option>
                  <option value='ces'>Czech</option>
                  <option value='dan'>Danish</option>
                  <option value='nld'>Dutch</option>
                  <option value='eng_3_0'>English</option>
                  <option value='glg'>Galician</option>
                  <option value='ell'>Greek (Modern)</option>
                  <option value='guj'>Gujarati</option>
                  <option value='hin'>Hindi</option>
                  <option value='gle'>Irish</option>
                  <option value='xho'>isiXhosa</option>
                  <option value='zul'>isiZulu</option>
                  <option value='ita'>Italian</option>
                  <option value='kan'>Kannada</option>
                  <option value='kas'>Kashmiri</option>
                  <option value='kok'>Konkani</option>
                  <option value='mal'>Malayalam</option>
                  <option value='cmn'>Madarin Chinese</option>
                  <option value='mni'>Manipuri</option>
                  <option value='mar'>Marathi</option>
                  <option value='nep'>Nepali</option>
                  <option value='ori'>Oriya</option>
                  <option value='fas'>Persian</option>
                  <option value='por_pt'>Portuguese</option>
                  <option value='pan'>Panjabi</option>
                  <option value='ron'>Romanian</option>
                  <option value='rus'>Russia</option>
                  <option value='san'>Sanskrit</option>
                  <option value='nso'>Sesotho sa Leboa</option>
                  <option value='tsn'>Setswana</option>
                  <option value='slk'>Slovak</option>
                  <option value='spa'>Spanish</option>
                  <option value='tam'>Tamil</option>
                  <option value='tel'>Telugu</option>
                  <option value='ven'>Tsihvenda</option>
                  <option value='urd'>Urdu</option>
                </select>
                <input type="button" value="Click on the tags to translate"/>
              </div>
        </div> <!-- end of second bar -->

    </div> <!-- end of main panel -->

  </body>
</html>
